* {
    box-sizing: border-box;
}

body {
    background-color: #f8c625 !important;
    font-family: "Handlee", cursive;
    direction: rtl;
}

.container {
    max-width: 1400px;
    margin-top: 1em;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

.imageCol {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUp {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media a {
    margin-right: 0.3rem;
    display: inline-block;
    text-decoration: none;
}

.social-media i {
    color: white;
    width: 100%;
    display: block;
    margin: 0;
}

.socialBtn {
    background-color: rgb(56, 56, 56);
    padding: 0.5rem;
    border-radius: 0.3rem;
}

.socialBtn:hover {
    text-decoration: none;
    background-color: rgb(70, 68, 68);
}

.social-media a:hover {
    color: black;
}

button {
    font-size: 1.5rem !important;
}

#signUpForm {
    display: block;
    width: 100%;
    direction: ltr;
}

#signUpForm label,
input[type="text"] {
    width: 100%;
}

.form-text {
    outline: none;
    border: 0;
    margin-bottom: 0.7em;
}

input {
    padding: 0.5em 0.8em;
    margin: 0.5em 2em;
    border: 0 !important;
    outline: 0 !important;
}

.form-control:focus {
    outline: none !important;
    border: none !important;
    box-shadow: 0 0 0 0 !important;
}

label {
    margin-bottom: 0.1em !important;
}

.footer {
    margin-bottom: 2rem;
}

@media(max-width:768px) {
    .container {
        max-width: 90% !important;
    }
    .submitBtn {
        width: 100%;
    }
    .imageCol {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:576px) {
    .container {
        max-width: 95% !important;
    }
    .workshop-header {
        margin-top: 1.5rem;
    }
}